<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CodeRadar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:name="com.example.coderadar.presentation.NewsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.coderadar.ui.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.coderadar.ui.ContestActivity"
            android:exported="false"
            android:theme="@style/customTheme" />
        <activity
            android:name="com.example.coderadar.SplashAndOnboard"
            android:exported="true"
            android:theme="@style/customThemeForloginpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.coderadar.MainActivity"
            android:exported="true"
            android:theme="@style/customThemeForloginpage" />

        <receiver android:name="com.example.coderadar.reminderReceiver.AlarmReceiver"/>
        <service android:name="com.example.coderadar.reminderReceiver.BackgroundSoundService"/>
        <service android:name="com.example.coderadar.reminderReceiver.NotificationSenderBackground"/>
    </application>

</manifest>